body{
    font-family: roboto, arial;
}

/* Table */

/* .table-container-div{
    overflow-y: auto; 
    right: 0;
    left: 0;
     position: absolute;
    height: 100%;  
    margin-right: 10px;
    margin-left: 265px;
    background-color: #ffffff;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0px 0px 10px #8994a1;
}

table thead tr {
    background: rgb(73,118,187);
    background: linear-gradient(90deg, rgba(73,118,187,1) 0%, rgba(53,66,235,1) 50%, rgba(73,118,187,1) 100%);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

table thead tr th a{
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    transition: color 0.50s;
    white-space: nowrap;
    font-size: 14px;
    
    
}
table th{
    padding: 25px 15px;
   
}
table td{
    padding: 2px 10px;
}
table thead{
    position: sticky;
    top: 0;
} */

.table-container-div{
    height: 650px;
    /* border: 1px solid red; */
    margin-left: 160px;
    margin-top: 10px;
    /* margin-left: 10px; */
    margin-right: 10px;
    overflow-y: auto; 
}

table thead{
    background: rgb(73,118,187);
    background: linear-gradient(0deg, rgba(73,118,187,1) 0%, rgba(53,66,235,1) 50%, rgba(73,118,187,1) 100%);
    position: sticky;
    top: 0;
    border-radius: 10px;
}

/* table.dataTable thead th {
    border-radius: 10px;
  } */
  

/* table thead{
    position: sticky;
    top: 0;
} */

table thead th{
    white-space: nowrap;
    font-weight: normal;
    color: white;
}



/* Side bar */

.side-bar-div{
    /* border: 1px solid blue; */
    position: fixed;
    top: 0;
    /* left: 0; */
    left: 0px;
    bottom: 0px;
    width: 150px;
    /* width: 250px; */
    color: white;
    /* background-color: rgb(32, 121, 255); */
    background: rgb(73,118,187);
    background: linear-gradient(0deg, rgba(73,118,187,1) 0%, rgba(53,66,235,1) 50%, rgba(73,118,187,1) 100%);
    transition: all .5s ease;
  }

  .dashboard-option-div{
    padding: 10px;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
  }